[submodule "vendor/Symfony/Component/Config"]
	path = vendor/Symfony/Component/Config
	url = git://github.com/symfony/Config.git
[submodule "vendor/Symfony/Component/DependencyInjection"]
	path = vendor/Symfony/Component/DependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
